body {
    text-align: center;
   background-image: linear-gradient(to right top, #83d1c0, #77d2cd, #6ed2da, #6bd1e7, #6ed0f2);
}

h1 {
  
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;

}

h2 {
    margin: 1em 0 0.25em;
}
#logo{
	padding-left:60px;
	float:left;
	
}
h2:first-of-type {
    margin-top: 0.5em;
}

table, tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 30px;
}

td {
    width: 80px;
}

input[type=number] {
    width: 6em;
}

.grid_Toggle {
    border:hidden ;
}

h2 span {
    font-family:"Roboto Slab";
    font-weight: 400;
    font-size: 1em;
    background: linear-gradient(to right top, #d826c1, #e800a2, #f00084, #f00066, #eb124b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 30px;
	 
}
h1 {
  font-family:trajan-color;
  font-feature-settings:ss00;
}